on:
  push: 
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
      - run: |
          rustup target add x86_64-pc-windows-gnu
          cargo build --release
          cargo build --release --target x86_64-pc-windows-gnu
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            target/release/lcf-validate-2kki
            target/x86_64-pc-windows-gnu/release/lcf-validate-2kki.exe
